#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  color:black;
  background-color: lightblue;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1, p{
    background-color: lightblue;
}

#p {
  text-align: left;
  color: black;
}
#greeting-container {
  margin-top: 20px;
}

a:link, a:visited {
  text-decoration: none;
  background-color: lightblue;
  color:black;

}

a:hover, a:active {
  text-decoration: initial;
  background-color: white;
}

