.center-text {
  text-align: center;
  margin-top: 35px;
  }

.left-text {
  text-align: left;
  margin-top: 35px;
}

.right-text {
  text-align: right;
  margin-top: 35px;
}  

.margin-atop {
  margin-top: 35px;
}

.peach {
  background-color: antiquewhite;
}

h1 {
  text-align: left;
  font-weight: 500;
}

#greeting-container, #fact-container, #number1-container, #number2-container, #number3-container {
  margin-top: 20px;
}

img {
  height: 10cm;
  width: 10cm;
}